* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(81, 81, 85);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 231);
}

.calculator {
    background-color:rgb(232, 232, 231);
    width: 389px;
    padding: 2rem;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 3fr, 7fr;
    box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
}

.display {
    grid-template-columns: 1/2;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc_display {
    height: 100px;
    width: 100%;
    border-radius: 30px;
    box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 3px #fff, 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    text-decoration: none;
    background-color: rgb(232, 232, 231);
    padding: 20px;
    color: rgb(81, 81, 85);
    font-size: 3.3em;
}

.keys {
    grid-template-columns: 2/3;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.key_button {
    margin: 11px;
    padding: 0px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: rgb(232, 232, 231);
    box-shadow: -6px -6px 9px #fff, 4px 4px 9px rgba(0, 0, 0, 0.3);
    font-size: 2em;
    border: none;
    text-decoration: none;
}

.key_button:hover {
    color: #fff;
    background: rgb(250, 150, 10);
    box-shadow: -6px -6px 9px #fff, 4px 4px 9px rgba(46, 37, 33, 0.3)
}

.key_button:active {
    color: #fff;
    background: rgb(250, 150, 10);
    box-shadow: inset -11px -11px 15px rgba(247, 206, 72, 0.534), inset 11px 11px 15px rgba(177, 78, 25, 0.438);
    padding: 10px;
}

